app_name     = "hello-you-api"
environment  = "dev"
aws_region   = "eu-north-1"

# availability_zones = ["eu-north-1a", "eu-north-1b"]

# vpc_cidr = "10.0.0.0/16"

# Database credentials
db_username = "admin_user"
db_password = "safesecpass"

flask_secret_key = "randomflasksecretkey"

# ecs_cluster_name = "my-custom-cluster-name"
desired_count = 3
task_cpu = 256
task_memory = 512

container_image = "ghcr.io/<image>"
# container_port = 5000 # FlaskPort

# Enable bastion host
enable_bastion = true
bastion_key_name = "bastion-keypan"
allowed_cidr_blocks = ["singleIp/32"]

# Github secrets

github_pat_token="<token>"
github_username ="username"